<!DOCTYPE html>
<html >
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  {{if .Color}}
    <body style="background-color:powderblue;">
  {{else}}
    <body style="background-color:rgb(205, 230, 176);">
  {{end}}
  <section class="section" >
    <div class="container">
      <h1 class="title">
        {{.PageTitle}}
      </h1>
      <p class="subtitle">
        Essentials for a great <strong>Cofee</strong>!
      </p>

      <ul>
        {{range .Receipes}}
            {{if .Done}}
                <label class="checkbox">
                    <input type="checkbox" checked>
                    {{.Title}}
                </label>
            {{else}}
                <label class="checkbox">
                    <input type="checkbox" checked>
                    {{.Title}}
                </label>
            {{end}}
        {{end}}
    </ul>
    </div>
  </section>
  </body>
</html>